@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    font-family: gugi,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
  }

  @font-face {
    font-family: 'kenney_bold_webfont';
    src: url('/assets/fonts/kenney_bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/kenney_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'gugi';
    src: url('/assets/fonts/Gugi-Regular.woff2') format('woff2'),
    url('/assets/fonts/Gugi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'kenney_highregular';
    src: url('/assets/fonts/kenney_high-webfont.woff2') format('woff2'),
         url('/assets/fonts/kenney_high-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'kenney_pixel_squareregular';
  src: url('/assets/fonts/kenney_pixel_square-webfont.woff2') format('woff2'),
       url('/assets/fonts/kenney_pixel_square-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'sharetech-regular';
  src:  url('/assets/fonts/ShareTech-Regular.woff2') format('woff2'),
  url('/assets/fonts/ShareTech-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'kenney_pixelregular';
  src: url('/assets/fonts/kenney_pixel-webfont.woff2') format('woff2'),
       url('/assets/fonts/kenney_pixel-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




  @font-face {
    font-family: 'kenney_future_square_webfont';
    src: url('/assets/fonts/kenney_future_square-webfont.woff2') format('woff2'),
    url('/assets/fonts/kenney_future_square-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

}

@layer utilities {
  .visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}


.custom-position {
  object-position: 44% 62%;
}


@custom-variant dark (&:where(.dark, .dark *));
