@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    font-family: kenney_future_square_webfont,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
  }

  @font-face {
    font-family: 'kenney_bold_webfont';
    src: url('/assets/fonts/kenney_bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

  @font-face {
    font-family: 'kenney_future_square_webfont';
    src: url('/assets/fonts/kenney_future_square-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

}

@layer utilities {
  .visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}


@custom-variant dark (&:where(.dark, .dark *));
