---
layout: default
title: Home
permalink: index.html
---
<div class="flex flex-col items-center text-lg">
    {% if author.avatar %}
    <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">
        <img class="w-64 h-64 md:w-50 md:h-50 rounded-full" src="./assets/img/Avatar1.png" width="128" height="128" alt="Author avatar">
    </a>
    {% endif %}
    <div class="text-center mt-8">
        {# <h1 class="text-2xl font-medium text-slate-800 leading-relaxed mt-0 mb-1">
            <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a>
        </h1> #}
        {% if author.bio %}
        <p class="mt-3 text-white">{{ author.bio }}</p>
        {% endif %}
         {% if author.game_link %}
        <p class="mt-3 text-white">{{ author.game_link }}
        <iframe frameborder="0" src="https://itch.io/embed/2906559?bg_color=37b4ca&amp;fg_color=ffffff&amp;link_color=000000&amp;border_color=1996ac" width="552" height="167"><a href="https://adeayo.itch.io/shape-it-up">SHAPE IT UP  (GMTK Jam version) by A_O</a></iframe>
         {# <a href="{{ author.link | url }}" class="underline underline-offset-1" target="_blank" rel="noopener">here</a> #}
        </p>
        {% endif %}
    </div>
</div>