<div class="w-8 h-8 text-white">
    <a href="https://linkedin.com/in/adeayo-oladipo/" target="_blank" rel="noopener" class="hover:opacity-70 transition-opacity">
        {% include "icons/linkedin.svg" %}
    </a>
</div>
<div class="w-8 h-8 text-white">
    <a href="https://www.reddit.com/user/adeayo_o/" target="_blank" rel="noopener" class="hover:opacity-70 transition-opacity">
        {% include "icons/reddit.svg" %}
    </a>
</div>
<div class="w-8 h-8 text-white">
    <a href="https://www.instagram.com/adeayo__o/" target="_blank" rel="noopener" class="hover:opacity-70 transition-opacity">
        {% include "icons/instagram1.svg" %}
    </a>
</div>
<div class="w-8 h-8 text-white">
    <a href="https://github.com/atiaen" target="_blank" rel="noopener" class="hover:opacity-70 transition-opacity">
        {% include "icons/github.svg" %}
    </a>
</div>